@page "/offer-help"
@inject HttpClient Http
@inject IDialogService DialogService;
@using Humanizer
@using helping_hand.Client.Components.Dialogs

<MudText Typo="Typo.h5" Align="Align.Center">Offer Help & Reliefs</MudText>
<br />
<MudContainer MaxWidth="MaxWidth.Large">
	<MudGrid>
		@foreach (var helpRequest in helpRequests)
		{
			<MudItem xs="12" sm="6" md="6" lg="4">
				<MudCard>
					<MudCardContent>
						<MudText Typo="Typo.body1">
							Help needed with <strong>@helpRequest.Services.Split(",").Humanize()</strong>.
						</MudText>
						<MudDivider Class="my-2"/>
						<MudText Typo="Typo.body2">Address:- <address>@helpRequest.Address</address></MudText>
						<MudDivider Class="my-2"/>

						@if(!string.IsNullOrEmpty(helpRequest.Name))
						{
							<MudText Typo="Typo.body2">Name: @helpRequest.Name</MudText>
						}
				
						@if(!string.IsNullOrEmpty(helpRequest.Message))
						{
							<MudText Typo="Typo.body2"> Message: @helpRequest.Message</MudText>
						}

						<MudText Typo="Typo.caption"><em>Posted @helpRequest.RequestedDate.Humanize(utcDate: false).</em></MudText>
						<MudDivider Class="my-6"/>

						<div style="display: flex; justify-content: space-between">
							<MudFab 
								Label="Help" Size="Size.Small" 
								Icon="@Icons.Material.Filled.AddCall"
								OnClick="@(() => OpenOfferHelpDialog(helpRequest.PhoneNumber))" 
							/>
							<MudChip Color="Color.Error" Size="Size.Small" Style="position: ab">@helpRequest.Urgency</MudChip>
						</div>
					</MudCardContent>
				</MudCard><br />
			</MudItem>
		}
	</MudGrid>
	<br />&nbsp;
</MudContainer>

@code {
	private List<HelpRequest> helpRequests = new();

	private DialogParameters dialogParameters = new DialogParameters();
	private DialogOptions dialogOptions = new DialogOptions { MaxWidth = MaxWidth.Large };


	protected override async Task OnInitializedAsync()
	{
		helpRequests.AddRange(await GetHelpRequests());
	}

	public void OpenOfferHelpDialog(string phoneNumber)
	{
		dialogParameters.Add("PhoneNumber", phoneNumber);
		DialogService.Show<ContactDialog>("Offer Help", dialogParameters, dialogOptions);
	}

	public async Task<List<HelpRequest>> GetHelpRequests()
	{
		return await Http.GetFromJsonAsync<List<HelpRequest>>("/api/help-requests");
	}
}
